@media screen and (width >= 480px){
  html, body {
    margin: 0;
    border: 0;
    padding: 0;
  }

  es-notebook {
    width: 100%;
  }

  .outer {
    display: flex;
    padding-bottom: 100vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .outer {
    background-color: rgb(206, 215, 235);
  }

}